<div class="container-fluid">
    <div class="card inner-main">
    <div><a class="btn btn-secondary" routerLink="/register">Add a new user</a></div>
    <div class="auth-wrapper" *ngIf="resetPasswordActive">
      <form class="form-resetpassword" [formGroup]="resetPasswordForm" (ngSubmit)="onResetSubmit()">
      <input type="hidden" formControlName="resetUserId" value=""/>
      <div class="form-group">
          <label>Password</label>
          <div class="">(Format should be mininum 8 characters with at least one uppercase letter, a number and an alphanumeric character, max length is 12)</div>
          <input type="password" class="form-control" formControlName="password">
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="password_confirmation">
      </div>
      <button type="submit" class="btn btn-block btn-primary">Update Password</button>
    </form>
    </div>
    <table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>
            <button type="button" class="btn btn-secondary" (click)="onResetPasswordClick(user.id)">Change Password</button> &nbsp;
            <button type="button" class="btn btn-warning">Update</button> &nbsp;
            <button type="button" class="btn btn-danger" (click)="deleteUser(user.name, user.id)">Delete</button>
        </td>
      </tr>
	</tbody>
    </table>
    </div>
</div>